#hero {
    height: max-content;
    margin-bottom: 40px;
}

#hero .carousel{
    margin: 0 auto;
}
#hero .carousel-inner{
    height: 80vh;
}
#hero .carousel-item{
    height: 70vh;
}
#hero .contenedor-boton-carrousel{
    max-width:1000px;
    margin: 0 auto;
    transform: translateY(-11px);
}
#hero .contenedor-boton-carrousel {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
#hero .contenedor-boton-carrousel .boton-enlace{
    grid-column: 3/4;
    font-size: 40px;
}


.inicio-box img {
    max-height: 300px;
}
.inicio-box__info {
    padding:0 50px ;
}

.banner-flota{
    height: 500px;
}
@media screen and (min-width:1570px){
    .banner-flota img{
        object-fit: cover;
    }
}
