:root {
  --color-primario:#000F63;
  --color-secundario:#3D76CE;
  --color-terciario:#33CAF5;
  --color-variacion:#275933;
  --color-gray:#c6c6c6;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@font-face {
  font-family: "Cooper";
  src: "cooper-black.ttf";
}
img {
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  -webkit-text-stroke: 2px var(--color-primario);
  color: white;
  font-family: "Cooper", "Roboto Slab", sans-serif;
  font-size: 65px !important;
  -webkit-text-stroke-width: medium;
  font-style: italic;
  margin-bottom: 100px;
  text-align: center;
}
h1 span.black-text {
  color: var(--color-primario);
  font-family: inherit;
}

h2 {
  -webkit-text-stroke: 1.5px var(--color-primario);
  color: white;
  font-family: "Cooper", "Roboto Slab", sans-serif;
}

h1, h2 {
  color: white;
  font-family: "Cooper";
}

h4, h5, h6 {
  color: var(--color-variacion);
  font-family: "Roboto Slab", serif;
  font-style: italic;
}

h3 {
  color: #0C1E2C;
  font-style: italic;
  font-family: "Roboto Slab", serif;
  margin-bottom: 40px;
}

a {
  color: var(--color-variacion);
}
a:hover {
  text-decoration: none;
  color: var(--color-secundario);
}

.pre-header {
  height: 20px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-terciario)), to(var(--color-secundario)));
  background-image: linear-gradient(var(--color-terciario), var(--color-secundario));
}

.header {
  padding: 10px 0;
}
.header .navigator {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .navigator_menu.desbanecido ul {
  height: 0;
}
.header .navigator_menu--button {
  font-size: 36px;
  color: var(--color-secundario);
}
@media screen and (min-width: 900px) {
  .header .navigator_menu--button {
    display: none;
  }
}
.header .navigator_menu--button nav {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
}
.header .navigator_menu--button nav:hover {
  color: var(--color-primario);
}
.header .navigator_menu--button nav:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.header .navigator_menu ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 900px) {
  .header .navigator_menu ul {
    height: 200px;
    overflow: hidden;
  }
}
@media screen and (min-width: 900px) {
  .header .navigator_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header .navigator_menu ul li {
  padding: 5px 3px;
}
.header .navigator_menu ul li a {
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  font-style: italic;
}
@media screen and (min-width: 900px) {
  .header .navigator_menu ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
  }
}
.header .navigator_menu ul li:hover {
  padding-left: 10px;
}
.header .navigator_menu ul li:hover > a {
  color: var(--color-secundario);
}
@media screen and (min-width: 900px) {
  .header .navigator_menu ul li:hover {
    padding: 5px 10px;
    -webkit-transform: translateY(-1px) scale(1.1);
            transform: translateY(-1px) scale(1.1);
  }
}

#hero .contenedor-boton-carrousel {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}
#hero .contenedor-boton-carrousel .boton-enlace {
  -webkit-transform: translateY(-19px);
          transform: translateY(-19px);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: white;
  background-color: var(--color-primario);
  text-align: center;
  font-size: 25px;
  position: relative;
  font-family: "Cooper Black", Serif;
}
#hero .contenedor-boton-carrousel .boton-enlace .triangle {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}
#hero .contenedor-boton-carrousel .boton-enlace .triangle-left {
  left: -19px;
  border-right: 19px solid var(--color-primario);
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
}
#hero .contenedor-boton-carrousel .boton-enlace .triangle-rigth {
  right: -19px;
  border-left: 19px solid var(--color-primario);
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
}
#hero .contenedor-boton-carrousel .boton-enlace:hover {
  -webkit-transform: translateY(-19px) scale(0.98);
          transform: translateY(-19px) scale(0.98);
}
#hero .contenedor-boton-carrousel .boton-enlace:hover .triangle-left {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
#hero .contenedor-boton-carrousel .boton-enlace:hover .triangle-rigth {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.footer {
  padding: 50px 0;
  width: 100%;
  background-color: var(--color-gray);
  min-height: 30vh;
}
.footer h3, .footer h4 {
  text-align: center;
}
.footer__social {
  padding-bottom: 30px;
}
.footer__social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.footer__social__item svg {
  font-size: 20px;
}
.footer__social__item p {
  padding: 0 0 0 10px;
  margin: 0;
}
.footer__horarios {
  padding-bottom: 60px;
}
.footer__horarios h4 {
  margin-bottom: 15px;
}
.footer__horarios p {
  padding: 0;
  text-align: center;
}
.footer__horarios .tabla-horario {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}
.footer p {
  text-align: center;
}

.page-main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page-main article .entry-header {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.page-main article .post-thumbnail {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.page-main article .post-thumbnail img {
  -o-object-position: center;
     object-position: center;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-main article .entry-content {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.flota-page .contenedor-filtro {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.flota-page .contenedor-filtro p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flota-page input {
  display: block;
  width: 100%;
}
.flota-page .contenedor-grid {
  position: relative;
  min-height: 50px;
}
@media screen and (max-width: 575px) {
  .flota-page .contenedor-grid {
    max-width: 400px;
    margin: 0 auto;
  }
}
.flota-page article {
  padding-bottom: 15px;
}
.flota-page article:hover figure {
  -webkit-box-shadow: 0 0 0 3px var(--color-variacion);
          box-shadow: 0 0 0 3px var(--color-variacion);
}
.flota-page article h3 {
  margin-bottom: 15px;
}
.flota-page article p {
  margin: 0;
  padding: 0;
}
.flota-page article figure {
  height: 250px;
  overflow: hidden;
}
@media screen and (max-width: 575px) {
  .flota-page article figure a {
    display: inline-block;
    width: 100%;
  }
  .flota-page article figure a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.flota-page article figure a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.btn-sancor {
  color: white;
  background-color: var(--color-primario);
  width: 100%;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}
.btn-sancor:hover {
  color: white;
  background-color: var(--color-secundario);
}
.btn-sancor:active {
  background-color: var(--color-variacion);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.aside-flota .title-container {
  background-image: url(../img/bg-title.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aside-flota .title-container h3 {
  color: white;
  margin-bottom: 0;
}
.aside-flota figure {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.aside-flota figure:hover {
  -webkit-box-shadow: 0 0 0 3px var(--color-variacion);
          box-shadow: 0 0 0 3px var(--color-variacion);
}

.hero_single {
  width: 100%;
}
.hero_single figure img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-main section.hero {
  margin-bottom: 50px;
}
.category-main section.hero figure {
  width: 100%;
  height: 400px;
}
.category-main section.hero figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.category-main article:hover figure {
  -webkit-box-shadow: 0 0 0 3px var(--color-variacion);
          box-shadow: 0 0 0 3px var(--color-variacion);
}
.category-main article figure {
  height: 250px;
  overflow: hidden;
}
@media screen and (max-width: 575px) {
  .category-main article figure a {
    display: inline-block;
    width: 100%;
  }
  .category-main article figure a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.category-main article figure a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.social picture img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.inicio-box-container {
  margin-bottom: 130px;
}
.inicio-box-container:nth-child(2) + h3 {
  text-align: right;
}

.inicio-box {
  padding: 10px 0 0 0;
}
.inicio-box h3 {
  text-align: center;
}
.inicio-box p {
  text-align: justify;
}
.inicio-box img {
  display: block;
  margin: 0 auto;
  max-height: 150px;
}

.blue-section {
  background-color: var(--color-primario);
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 200px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.blue-section h3, .blue-section p {
  color: white;
}
.blue-section img {
  height: 200px;
}

.item-flota h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.item-flota p {
  text-align: justify;
  padding: 0 5%;
}

.banner-flota {
  height: 400px;
}
.banner-flota img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-page {
  background-color: var(--color-primario);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 50vw;
  padding: 15px 15px 15px 100px;
  -webkit-box-shadow: 10px 10px 0 var(--color-secundario);
          box-shadow: 10px 10px 0 var(--color-secundario);
}
.info-page h3 {
  color: white;
  margin: 0;
  padding: 0 0 20px 0;
}
.info-page h3 svg {
  margin-left: 30px;
  display: inline-block;
}
.info-page p {
  color: white;
}