#hero{
    .contenedor-boton-carrousel{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        .boton-enlace{
            transform: translateY(-19px);
            grid-column: 2/3;
            color: white;
            background-color: var(--color-primario);
            background-image: linear-gradient(
                                var(--color-secundario) 10%,
                                var(--color-primario) 20%,
                                var(--color-primario) 80%,
                                var(--color-secundario)100%);
            &:hover{
                background-image: none;
                animation: bounce .5s ease-in-out;
            }
            text-align: center;
            font-size:25px;
            position: relative;
            font-family: 'Cooper Black', Serif;
            box-shadow: 0px 6px 9px rgba(#000,.5);
            .triangle{
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                top: 0;
                transition: .15s ease;
                &-left{
                    left: -19px;
                    border-right: 19px solid var(--color-primario);
                    border-top: 19px solid transparent;
                    border-bottom: 19px solid transparent;
                }
                &-rigth{
                    right: -19px;
                    border-left: 19px solid var(--color-primario);
                    border-top: 19px solid transparent;
                    border-bottom: 19px solid transparent;
                }
            }
        }
    }
}