.category-main{
    section.hero{
        margin-bottom: 50px;
        figure{
            width: 100%;
            height:400px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    article{
         &:hover{
            figure{
                box-shadow: 0 0 0 3px var(--color-variacion);
            }
        }
        figure{
            height: 250px;
            overflow: hidden;
            a{
                @media screen and (max-width:575px){
                    display: inline-block;
                    width: 100%;
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    }