.page-contacto{
    .banner-flota{
        position: relative;
        figcaption{
            position: absolute;
            right: 10%;
            top: 0;
            bottom: 0;
            margin: auto 0;
            height: max-content;
            h1{
                margin:0;
                padding:0;
            }
        }
    }
    #formulario{
        #phone-label{
            display: grid;
            grid-template-columns: 50px 1fr;
        }
        #phone-label p{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-primario);
            color: #fff;
            text-align: center;
            height: 100%;
            margin:0;
            padding:0;
            border-radius: 10px 0 0 10px;

        }
        input,textarea{
            border:1.5px solid var(--color-primario);
            border-radius: 0px;
            padding-left: 10px;
            &:focus{
                border:2px solid var(--color-variacion);
                outline: none;
            }
            &.correcto{
                border:2px solid #00D200;
            }
            &.incorrecto{
                border: 2px solid #FF0000;
            }
        }
        span{
                display: inline-block;
                width:30px;
                height: 30px;
                background-size: contain;
                background-repeat: no-repeat;
                position: relative;
                top: 30px;
                &.acepted{
                    background-image:url("../img/form/check.png");
                }
                &.error{
                    background-image:url("../img/form/error.png");
                }
            }
        .submit-ocultar{
            display: block;
            height: 34px;
            position: relative;
            top: -34px;
            width: 100%;
            background-color: rgba(#000,.5);
            &.disabled{
                top:0;
                transform: scale(0);
            }
        }
    }
    .map{
        iframe{
            height: 90%;
            width: 100%;
            border: 0;
            outline: none;
        }
        min-height:600px;
        padding-bottom: 30px;
    }
    #send-button{
        width: 100%;
        color: white;
        background-color: var(--color-primario);
    }
}