.flota-page{
    .contenedor-filtro{
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 50px;
        p{
            display: flex;
            justify-content: space-between;
        }
    }
    input{
        display: block;
        width: 100%;
    }
    .contenedor-grid{
        position: relative;
        min-height: 50px;
        @media screen and (max-width:575px){
            max-width: 400px;
            margin: 0 auto;
        }
    }
    article{
        &:hover{
            figure{
                box-shadow: 0 0 0 3px var(--color-variacion);
            }
        }
        padding-bottom: 15px;
        h3{
            margin-bottom: 15px;
        }
        p{
            margin:0;
            padding:0;
        }
        figure{
            height: 250px;
            overflow: hidden;
            a{
                @media screen and (max-width:575px){
                    display: inline-block;
                    width: 100%;
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
.btn-sancor{
    color: white;
    background-color:var(--color-primario);
    width: 100%;
    transition: .15s ease-in;
    &:hover{
        color: white;
        background-color: var(--color-secundario);
    }
    &:active{
        background-color: var(--color-variacion);
        transform: scale(.9);
    }
}
.aside-flota{
    .title-container{
        background-image: url(../img/bg-title.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        h3{
            color: white;
            margin-bottom: 0;
        }
    }
    figure{
        width: max-content;
        margin: 0 auto;
        &:hover{
            box-shadow: 0 0 0 3px var(--color-variacion);
            
        } 
    }
}