:root{
    --color-primario:#000F63;
    --color-secundario:#3D76CE;
    --color-variacion:#275933;

    --color-gray:#c6c6c6;
}
*{
    font-family: 'Noto Sans JP', sans-serif;
    transition: .2s ease-in-out;
}

@font-face {
    font-family: 'Cooper';
    src:'cooper-black.ttf';
}

img{
    object-fit: contain;
}


h1{
    -webkit-text-stroke: 2px var(--color-primario);
    color: white;
    font-family:'Cooper', 'Roboto Slab', sans-serif;
}
h2{
    -webkit-text-stroke: 1.5px var(--color-primario);
    color: white;
    font-family:'Cooper', 'Roboto Slab', sans-serif;
}
h1,h2{
    color: white;
    font-family:'Cooper';
}h4,h5,h6{
    color:var(--color-variacion);
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}
h3{
    color: #0C1E2C;
    font-style: italic;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 40px;
}

a{
    color: var(--color-variacion);
    &:hover{
        text-decoration: none;
        color: var(--color-secundario);
    }
}
@import '_header.scss';
@import '_carrousel.scss';
@import '_footer.scss';
.inicio-box-container{
    margin-bottom: 130px;
    &:nth-child(2) + h3{
        text-align: right;
    }
}
.inicio-box{
    padding: 10px 0 0 0;
    h3{
        text-align: center;
    }
    p{
        text-align: justify;
    }
    img{
        display: block;
        margin: 0 auto;
        max-height: 150px;
    }
}
.tituloDeSeccion{
  font-size: 65px;
  -webkit-text-stroke-width: medium;
  font-style: italic;
  margin-bottom: 100px;
  box-shadow: 0 57px 0 -37px var(--color-primario);
  span.black-text{
      color: var(--color-primario);
      font-family: inherit;
    }
}
.blue-section{
    background-color:var(--color-primario);
    background-image: url(../img/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 200px 0;
    height: max-content;
    h3,p{
        color:white;
    }
    img{
        height: 200px;
    }
}