:root{
    --color-primario:#000F63;
    --color-secundario:#3D76CE;
    --color-terciario:#33CAF5;
    --color-variacion:#275933;

    --color-gray:#c6c6c6;
}
*{
    font-family: 'Noto Sans JP', sans-serif;
    transition: .2s ease-in-out;
}

@font-face {
    font-family: 'Cooper';
    src:'cooper-black.ttf';
}

img{
    object-fit: contain;
}


h1{
    -webkit-text-stroke: 2px var(--color-primario);
    color: white;
    font-family:'Cooper', 'Roboto Slab', sans-serif;
    font-size: 65px !important;
    -webkit-text-stroke-width: medium;
    font-style: italic;
    margin-bottom: 100px;
    text-align: center;
    @media screen and (max-width: 480px) {
        -webkit-text-stroke: 0;
        color: #000F63;
    }
    span.black-text{
        color: var(--color-primario);
        font-family: inherit;
        }
}
h2{
    -webkit-text-stroke: 1.5px var(--color-primario);
    color: white;
    font-family:'Cooper', 'Roboto Slab', sans-serif;
}
h4,h5,h6{
    color:var(--color-variacion);
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    & > * {font-family: inherit;}
}
h3{
    color: #0C1E2C;
    font-style: italic;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 40px;
    & > * {font-family: inherit;}
}

label{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color:var(--color-primario);
}

a{
    color: var(--color-variacion);
    &:hover{
        text-decoration: none;
        color: var(--color-secundario);
    }
}
@import '_header.scss';
@import '_carrousel.scss';
@import '_footer.scss';
@import '_page.scss';
@import '_home.scss';
@import '_single.scss';
@import '_category.scss';
@import '_widgets.scss';
@import '_contacto.scss';
.inicio-box-container{
    &:nth-child(2) + h3{
        text-align: right;
    }
}
#hacemos{
    h3{
        padding-left: 50px;
        margin-top: 40px;
    }
    figure p {
        text-align: center;
    }
}
.inicio-box{
    .row{
        margin:0;
        padding:0;
    }
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    padding: 1.5px 3px;
    h3{
        text-align: center;
    }
    p{
        text-align: justify;
    }
    figure{
        margin:0;
        padding:0;
    }
    img{
        display: block;
        margin: 0 auto;
        width: 100%;
        object-fit: cover;
        @media screen and (max-width:767px){
            margin-bottom: 15px;
        }
    }
}

.blue-section{
    background-color:var(--color-primario);
    background-image: url(../img/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 200px 0;
    height: max-content;
    h3,p{
        color:white;
    }
    img{
        height: 200px;
    }
}
.item-flota{
    h3{
        margin:0;
        padding:0;
        text-align: center;
    }
    p{
        text-align: justify;
        padding: 0 5%;
    }
}
.banner-flota,
.hero-page,
.page-main,
.hero_single{
    figure{
        max-width: 1519.2px;
        margin: 0 auto;
    }
    img{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}
.info-page{
    background-color: var(--color-primario);
    width: max-content;
    max-width: 50vw;
    padding: 15px  15px  15px 100px;
    box-shadow: 10px 10px 0 var(--color-secundario);
    h3{
        color: white;
        margin:0;
        padding:0 0 20px 0;
        svg{
            margin-left:30px;
            display: inline-block;
        }
    }
    p{
        color: white;
    }
}
body{
    padding-top: 150px;
}